<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
	  <add key="kudi-internal" value="http://192.168.2.8:8081/repository/nuget-group/index.json" allowInsecureConnections="True" />
      <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />

  </packageSources>
  <packageSourceCredentials>
   
  </packageSourceCredentials>
</configuration>